---

- name: include OS-specific vars
  include_vars: '{{ ansible_os_family | lower }}.yml'

- name: install openssh
  package:
    name: '{{ ssh_packages }}'

# -----------------------------------------------------------------------------
# authorized keys
# -----------------------------------------------------------------------------

- name: deploy authorized keys
  include_tasks: 'authorized-keys.yml'
  when: >-
    ssh_users | default([]) |
      selectattr('authorized_keys', 'defined') |
      list | length
  tags:
    - ssh-authorized-keys

# -----------------------------------------------------------------------------
# known hosts
# -----------------------------------------------------------------------------

- name: deploy known hosts
  template:
    src: ssh_known_hosts.j2
    dest: /etc/ssh/ssh_known_hosts
    owner: root
    group: root
    mode: 0644
  when: ssh_known_hosts is defined
  tags:
    - ssh-known-hosts

# -----------------------------------------------------------------------------
# moduli
# -----------------------------------------------------------------------------

- name: check /etc/ssh/moduli
  script: 'check-moduli.sh {{ ssh_modulus_min }}'
  when: ssh_modulus_min is defined
  register: ssh_moduli_check
  check_mode: no
  changed_when: >-
    (ssh_moduli_check.stdout | int) > 0
  tags:
    - ssh-sshd-config
    - ssh-moduli

- name: remove small moduli from /etc/ssh/moduli # noqa 503
  script: 'mod-moduli.sh {{ ssh_modulus_min }}'
  when: >-
    not ansible_check_mode and
    ssh_modulus_min is defined and
    ssh_moduli_check.changed
  register: ssh_moduli_configured
  changed_when: >-
    ssh_moduli_configured.stdout.find('XXXchangedXXX') != -1
  notify:
    - reload SSH daemon
  tags:
    - ssh-sshd-config
    - ssh-moduli

# -----------------------------------------------------------------------------
# sshd_config
# -----------------------------------------------------------------------------

- name: deploy SSH daemon configuration
  template:
    src: 'sshd_config_{{ ansible_os_family | lower }}.conf'
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0644
    validate: /usr/sbin/sshd -t -f %s
  notify:
    - reload SSH daemon
  tags:
    - ssh-sshd-config

# -----------------------------------------------------------------------------
# service
# -----------------------------------------------------------------------------

- name: enable SSH service and assure it is started
  service:
    name: sshd
    enabled: yes
    state: started
  tags:
    - service

...
